@mixin clearfix {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

@mixin inline-block-middler ($height) {
  &::before {
    content: "";

    display: inline-block;
    width: 0;
    height: $height;

    vertical-align: middle;
  }
}

@mixin visually-hidden {
  &:not(:focus) {
    &:not(:active) {
      position: absolute;

      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;

      white-space: nowrap;

      border: 0;

      clip: rect(0 0 0 0);
      clip-path: inset(100%);
    }
  }
}

@mixin site-width ($width, $padding) {
  width: $width - $padding*2;
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding;
  padding-right: $padding;
}
