// sizees
$max-site-width: 2880px;
$min-site-width: 750px;
$site-padding: 30px;
$max-site-padding: 60px;
$promo-height: 665px;
$promo-big-height: 1800px;
$header-height: 140px;
$max-header-height: 180px;
$header-big-height: 150px;
$promo-fixies-padding: 120px;
$promo-cruisers-padding: 180px;
$promo-fixies-max-padding: 500px;
$promo-cruisers-max-padding: 480px;
$menu-padding: 30px;

// colors
$color-footer: #595f6f;
