.main-footer {
  padding: 1px;

  text-align: center;

  background-color: $color-footer;

  @include site-width ($min-site-width, $site-padding);

  @media (min-width: $max-site-width) {
    display: flex;

    @include site-width ($max-site-width, $site-padding);
  }

  &__menu {
    @media (min-width: $max-site-width) {
      margin-left: auto;
    }
  }
}
