.main-footer {
  padding-top: 1px;
  padding-bottom: 1px;

  text-align: center;
  color: #ffffff;

  background-color: $color-footer;

  @include site-width ($min-site-width, $site-padding);

  @media (min-width: $max-site-width) {
    display: flex;

    @include site-width ($max-site-width, $site-padding);
  }

  &__title {
    margin-top: 47px;
    margin-bottom: 0;

    font-size: 54px;
  }

  &__description {
    margin-top: 30px;
    margin-bottom: 0;

    font-size: 32px;
    line-height: 50px;
  }

  &__promo {
    display: block;
    margin-top: 45px;
    margin-bottom: 0;

    font-size: 32px;
    color: #ffffff;
  }

  &__copyright {
    margin-top: 95px;
    margin-bottom: 0;

    font-weight: bold;
    font-size: 32px;
  }

  &__menu {
    @media (min-width: $max-site-width) {
      margin-left: auto;
    }
  }
}
