.promo {
  height: $promo-height;

  @include site-width ($min-site-width, $site-padding);

  @media (min-width: $max-site-width) {
    width: 50%;
    height: $promo-big-height - $header-big-height;
    padding-top: $header-big-height;
  }

  &--fixies {
    height: $promo-height - $header-height;
    padding-top: $header-height;

    background-color: #6a93b5;
    background-image: url("../img/fixies.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $max-site-width) {
      background-image: url("../img/fixies-big.jpg");
    }
  }

  &--cruisers {
    background-color: #b985d8;
    background-image: url("../img/cruisers.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $max-site-width) {
      background-image: url("../img/cruisers-big.jpg");
    }
  }

  &__title {
    text-align: center;
  }

  &__description {
    text-align: center;
  }

  &__btn {
    display: block;
    width: 300px;
    margin: 0 auto;
  }
}
