.promo {
  text-align: center;

  @include site-width ($min-site-width, $site-padding);

  @media (min-width: $max-site-width) {
    width: 50%;
  }

  &--fixies {
    height: $promo-height - $header-height - $promo-fixies-padding;
    padding-top: $header-height + $promo-fixies-padding;

    background-color: #6a93b5;
    background-image: url("../img/fixies.jpg");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-width: $max-site-width) {
      height: $promo-big-height - $header-big-height - $promo-fixies-max-padding;
      padding-top: $header-big-height + $promo-fixies-max-padding;
      background-image: url("../img/fixies-big.jpg");
    }
  }

  &--cruisers {
    height: $promo-height - $promo-cruisers-padding;
    padding-top: $promo-cruisers-padding;

    background-color: #b985d8;
    background-image: url("../img/cruisers.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $max-site-width) {
      height: $promo-big-height - $header-big-height - $promo-cruisers-max-padding;
      padding-top: $header-big-height + $promo-cruisers-max-padding;
      background-image: url("../img/cruisers-big.jpg");
    }
  }

  &__title {
    @include visually-hidden;
  }

  &__description {
    margin: 0;
    padding: 0;

    font-size: 54px;
    color: #ffffff;

    @media (min-width: $max-site-width) {
      font-size: 100px;
    }
  }

  &__btn {
    display: block;
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 27px 0;

    font-size: 40px;
    color: #ffffff;
    text-decoration: none;

    background-color: rgba(255,255,255,0.3);

    @media (min-width: $max-site-width) {
      margin-top: 150px;
    }
  }

  &--cruisers &__btn {
    margin-top: 60px;

    @media (min-width: $max-site-width) {
      margin-top: 175px;
    }
  }
}
